{% extends "page.html" %}

{% block title %}
{{ project.name }} · {{ super() }}
{% endblock title %}

{% block page_content %}
    <div class="container mt-4" id="page-content">
      <div class="row">
        <div class="col-md-3">
          <div class="d-grid gap-2 d-md-block page-navigation">
            <strong><a href="{{ url_for('user') }}">Your Account</a> > Manage</strong>
            <a class="btn btn-link col-md-12 rounded-0 releases text-start" data-purpose="page-select">
              <span class="fa fa-history fa-fw"></span>
              Releases
            </a>
            <a class="btn btn-link col-md-12 rounded-0 collaborators text-start" data-purpose="page-select">
              <span class="fa fa-download fa-fw"></span>
              Collaborators
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div id="releases-page" data-purpose="page-switch" data-source="releases">
          <div style="margin: 1em;">Releases of <strong>{{ project.name }}</strong></div>
          {% for release_info in releases|reverse %}
            <div>
                <div class="card" style="margin: 1em;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <span class="listing-icon">
                                    <i class="far fa-folder-open"></i>
                                </span>
                                {{ release_info.version }}
                            </div>

                            <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                                {% if release_info.release_date %}
                                    <span class="text-secondary small">
                                        {{ release_info.release_date.strftime('%b %d, %Y') }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-end">
                                {% if 'yanked' in release_info.labels %}
                                {# Note: We don't include partial yank in this condition intentionally. #}
                                <span style="float: right; text-decoration: none; font-size: smaller; color: gray;">
                                    <button class="btn btn-danger position-relative me-2 mb-1 btn-sm">
                                        Yanked
                                    </button>
                                </span>
                                {% endif %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{{ url_for('project_version', project_name=project.name, version=release_info.version) }}">View</a>
                                        {% if 'yanked' not in release_info.labels and 'partially-yanked' not in release_info.labels %}
                                        <form
                                            action="{{ url_for('yank', project_name=project.name, version=release_info.version) }}"
                                            onsubmit="return confirm('Do you really want to yank {{ project.name }} version {{ release_info.version }}?');"
                                        >
                                            <button class="dropdown-item">Yank</button>
                                        </form>
                                        {% else %}
                                        <form
                                            action="{{ url_for('un-yank', project_name=project.name, version=release_info.version) }}"
                                            onsubmit="return confirm('Do you really want to un-yank {{ project.name }} version {{ release_info.version }}?');"
                                        >
                                            <button class="dropdown-item">Un-yank</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
          </div>
          <div id="collaborators-page" data-purpose="page-switch" data-source="collaborators">
            <div> Users and groups registered as owners of <strong>{{ project.name }}</strong>:</div>
            <div class="border rounded my-3 p-2">
                <div class="row">
                    <div class="col border-right">Owner</div>
                    <div class="col border-right">Type</div>
                </div>
                <hr />

                {% for user_owner in user_owners %}

                <div class="row mt-3">
                    <div class="col border-right">{{ user_owner }}</div>
                    <div class="col border-right">User</div>
                </div>

                {% endfor %}

                {% for group_owner in group_owners%}

                <div class="row mt-3">
                    <div class="col border-right">{{ group_owner }}</div>
                    <div class="col border-right">Group</div>
                </div>

                {% endfor %}
            </div>
            <form
                action="{{ url_for('add-owner', project_name=project.name) }}"
                method="post"
            >
                <div class="my-3">
                    <label for="ownerInputField" class="form-label">Add a new owner to this project:</label>
                    <input name="owner_id" type="text" class="form-control" id="ownerInputField"
                        placeholder="Insert the new owner's login (for users) or group name."
                    >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock page_content %}


{% block extra_footer %}
<script src="{{ url_for('static', path='/js/simple-repository-browser.project.js') }}"></script>
<script src="{{ url_for('static', path='/js/manage.js') }}"></script>
{% endblock extra_footer %}
