{% extends "page.html" %}

{% block page_content %}
    <div class="container mt-4" id="page-content">
      <div class="row">
        <div class="col-md-3">
          <div class="d-grid gap-2 d-md-block page-navigation">
            <strong>Your account</strong>
            <a class="btn btn-primary col-md-12 rounded-0 description text-start">
              <i class="fa fa-align-left fa-fw"></i>
              Your projects
            </button>
            <a class="btn btn-link col-md-12 rounded-0 releases text-start" href="{{ url_for('logout') }}">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
                Logout
            </a>
          </div>

        </div>
        <div class="col-md-9">
          <div>
            <h3>
                Your projects
            </h3>
            <div id="projects">
                {% for project in owned_resources %}
                <div class="card m-3">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="listing-icon me-2">
                        <i class="fa fa-cube"></i>
                      </span>
                      {{ project }}
                    </div>
                    <div>
                      <a href="{{ url_for('project', project_name=project) }}" class="btn btn-primary btn-sm">View</a>
                      <a href="{{ url_for('manage', project_name=project) }}" class="btn btn-secondary btn-sm">Manage</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock page_content %}

{% block extra_footer %}
<script src="{{ static_file_url('/js/simple-repository-browser.project.js') }}"></script>
{% endblock extra_footer %}
