acc-py-repository-browser/setup.py
simple_repository_browser/static/js
acc-py-repository-browser/acc_py_repository_browser/static/images/python-logo-only.svg
acc-py-repository-browser/acc_py_repository_browser/static/images/favicon.6a76275d.ico
acc-py-repository-browser/acc_py_repository_browser/static/images/logo-small-single-tower.svg
acc-py-repository-browser/acc_py_repository_browser/static/js/simple-repository-browser.*.js*
acc-py-repository-browser/acc_py_repository_browser/static/css/theme.css
acc-py-repository-browser/simple_repository_browser

*/_version.py
node_modules
*.egg-info
venv
*.sqlite
cache
logs


__pycache__

.idea

build/
dist/
