### generated_by: acc-py app lock
### base_python: 2023.06
### reqs: eJxljs1uwkAMhO9+iih3IuBQIVXLi6CoMrsOMdm/er1ALn12Nj1V6u2bsTwzs2p+AXIq356VwHFZLNq5UbJV2ReYsChmBg45iXq+fgVSdKh4Nh/DHu4c73iEgLK49Iy/UHPBiSCjXfDG8dZIiqcV8tLklM7mMByOIIQu0E4oOhKSS3AjlNbjNy+nwppk/TH74QT1wTZJBKw6tw3QNoknVbpM1fsR8qpU9LOjlwp2xnT9pvv/cburpGdpZdt9/Pvg6NG/AVvAYz4=
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
Authlib==1.5.1
cffi==1.17.1
click==8.1.8
cmarkgfm==2024.11.20
cryptography==44.0.2
diskcache==5.6.3
docutils==0.21.2
fastapi==0.115.11
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.7
MarkupSafe==3.0.2
nh3==0.2.21
packaging==24.2
Parsley==1.3
pkginfo==1.12.1.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
python-multipart==0.0.20
PyYAML==6.0.2
readme_renderer==44.0
simple-repository==0.8.3
simple-repository-browser
sniffio==1.3.1
starlette==0.46.1
typing_extensions==4.12.2
uvicorn==0.34.0
zipp==3.21.0
