### generated_by: acc-py app lock
### base_python: 2023.06
### reqs: eJxtjbFuwzAMRHd+hTZPDoIWyNK6P1J0YCQ6YSyJKkml9d/H6Vpv797hcMhydW+ALPad2QkS2xIxXjeS2J2zwYzm2Bi4NFHPfB4LOSZ0DB/T6XCEG9cbvkBBXZL81D/ozXAmaBgXvHC9bKSWaYW2bHEWUMJUaFSqiZT0s6QvsO0iP10TYxddw/t0PLxCv3MUrXDunFN4C/TrimGawpDoPkBTGqOUwv6/87WRjUbem4tk21mvTraz3PFPMTwAzJtrJw==
### reqdist_hash: 997aab186aaceef2afee72272043a0023c65cc2cfebea41d6b2947c9d07d7758
aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.19.0
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
cffi==1.16.0
click==8.1.7
cmarkgfm==2022.10.27
diskcache==5.6.3
docutils==0.20.1
fastapi==0.104.1
frozenlist==1.4.0
h11==0.14.0
importlib-metadata==6.8.0
Jinja2==3.1.2
Markdown==3.5
MarkupSafe==2.1.3
multidict==6.0.4
nh3==0.2.14
Parsley==1.3
pkginfo==1.9.6
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
readme-renderer==42.0
simple-repository==0.3.0
simple-repository-browser
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.8.0
uvicorn==0.23.2
yarl==1.9.2
zipp==3.17.0
