### generated_by: acc-py app lock
### base_python: 2023.06
### reqs: eJxNjr1uwzAMhHc+heHdRpKhKFAoLxIYBSPRMWP9laKSeOmzV+6U7bsjeHeLan4Bcio/npXAcVkt2qVRslXZF5ixKGYGDjmJer5+B1J0qHg2H+MB7hzveIKAsrr0jP9Qc8GZIKNd8cbx1kiKpw3y2uSczuY4Hk8ghC7QIBQdCckluAlK6/G7l1NhTbL9msP4CfXBNkkErLq0DdA2iSdVuszV+wnyplT0q6OXCnbGdP2ue0Brh7y9xQ1XSc/Syvb79P7g6NH/AU4MYvE=
acc-py-repository-browser
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
Authlib==1.5.1
cffi==1.17.1
click==8.1.8
cmarkgfm==2024.11.20
cryptography==44.0.2
diskcache==5.6.3
docutils==0.21.2
fastapi==0.115.12
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.7
MarkupSafe==3.0.2
nh3==0.2.21
packaging==24.2
Parsley==1.3
pkginfo==1.12.1.2
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
Pygments==2.19.1
python-multipart==0.0.20
PyYAML==6.0.2
readme_renderer==44.0
simple-repository==0.8.3
sniffio==1.3.1
starlette==0.46.1
typing_extensions==4.13.0
typing-inspection==0.4.0
uvicorn==0.34.0
zipp==3.21.0
